body {
    background-color: #b7d1c4
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#gauche {
    width: 50%;
    height: 100%;
    float: left;
}

#droite {
    width: 50%;
    height: 100%;
    float: left;
}